.animals {
  border-bottom: 2px solid #9e8c6c;
  width: 550px;
  margin-left: 20px;
}

.wrapper {
  width: 450px;
  margin-left: 40px;
}
ul {
  list-style-type: none;
}

.animalName {
  font-size: 1rem;
  border-bottom: 1px solid #9e8c6c;
  width: 400px;
}

.animalImg {
  width: 400px;
}

.animalDescriptionShort {
  font-size: 0.8rem;
}
