.animals {
  color: #99773b;
  border-bottom: 1px solid #000;
  width: 550px;
  margin-left: 20px;
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
}

.wrapper {
  width: 450px;
  margin-left: 55px;
}
ul {
  list-style-type: none;
}

li {
  border-bottom: 1px solid #99773b;
  margin-bottom: 30px;
}

.animalName {
  font-size: 1rem;
  color: #99773b;

  width: 400px;
  font-family: "Oswald", sans-serif;
}

.animalImg {
  width: 400px;
}

.animalDescriptionShort {
  font-size: 0.8rem;
  font-family: "Karla", sans-serif;
  line-height: 1.5;
}

.linkToAnimal {
  text-decoration: none;
  color: #000;
  font-family: "Karla", sans-serif;
  font-size: 0.8rem;
}
