header {
  display: flex;
  flex-direction: column;
  margin-left: 26%;
}

img {
  width: 700px;
}

main {
  display: flex;
  flex-direction: column;
  margin-left: 30%;
  background-color: #ebe5de;
  width: 600px;
  margin-top: 40px;
  padding-bottom: 5px;
  margin-bottom: 20px;
}
